* {
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
    font-size : 100%;
    font-weight : normal; 
    margin : 0px;
    padding: 0px;
}

html, body {
    height : 100%;
    /*text-align : center;*/ 
}

h3 {
    display : inline;
}

input {
    width : auto;
    margin : 0.3%; 
}

.item {
    
}

.addingContents {
    
}

.removingContents {
    
}

.modal {
    display : none;
    -moz-transform: translate(0, 100%);
    -webkit-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    position : fixed;
    top : 0;
    left : 60%;
    border : 2px solid #000;
    border-radius : 5%;
/*    right : 0;
    bottom : 0; */
}